.header-container {
	display: flex;
	background-color: #333;
	height: 400px;
	width: 100%;
	a {
		.logotype {
			width: 100%;
			max-width: 300px;
		}
	}
	.inner-header-container {

		.navigation-menu {

		}
	}
}